body {
  background-color: rgb(232, 150, 198);
}

h1 {
  background-color: rgb(171, 39, 120);
  font-family: cursive;
  font-size: 40px;
  text-align: center;
  border: 2px solid black;
}

h2 {
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
}

#apresentation {
  text-align: justify;
  padding: 30px 15px;
  position: absolute;
  left: 250px;
  top: 250px;
}

img {
  border-radius: 100%;
  position: absolute;
  left: 30px;
}
.list{
    position: absolute;
    top: 500px;
}

.paragrafos{
    position: absolute;
    top:  500px;
    left: 300px;
    
}

